{% extends "layout.html" %}
{% block title %}Astronomy Picture of the Day{% endblock %}
{% block body %}
   
    {% if errorAPI %}
        <h2> {{ errorAPI }}</h2>
    {% else %}
      <h2>Astronomy Picture of the Day</h2>
       
        <a class="btn btn-primary" href="/">Inicio</a>
        <p>Date: {{ date }}</p>
     <div class="row row-cols-1 row-cols-md-3" >
        <img src="{{ urlAPOD }}" class="img-thumbnail">
     </div>
     <h3> {{ titleImage }}</h3>
     <p>Image & credit: {{ copyright }}</>
     <p>{{ explanation }}</>
    
    {% endif %}

{% endblock %}
