{% extends "layout.html" %}
{% block title %}NASA{% endblock %}
{% block body %}
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <a href="/apod">
        <img src="https://apod.nasa.gov/apod/image/2109/NGC1499_Hubble_960.jpg" class="card-img-top" alt="...">
      </a>
      <div class="card-body">
        <h5 class="card-title">APOD</h5>
        <p class="card-text">Representa la imagen del día</p>
      </div>
      <div class="card-footer">
        <small class="text-muted"></small>
      </div>     
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <a href="/exploracionPlanetaria">
        <img src="https://apod.nasa.gov/apod/image/2109/NGC1499_Hubble_960.jpg" class="card-img-top" alt="...">
      </a>
      <div class="card-body">
        <h5 class="card-title">Exploración planetaria</h5>
        <p class="card-text">NASA Exoplanet Archive API y Mars Rover Photos API.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted"></small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
       <a href="/MarsRover">
        <img src="https://apod.nasa.gov/apod/image/2109/NGC1499_Hubble_960.jpg" class="card-img-top" alt="...">
      </a>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted"></small>
      </div>
    </div>
  </div>
</div>
{% endblock %}