{% extends "layout.html" %}
{% block title %}NASA{% endblock %}
{% block body %}

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <a href="/apod">
        <img src="https://apod.nasa.gov/apod/image/2109/NGC1499_Hubble_960.jpg" class="card-img-top" alt="...">
      </a>
      <div class="card-body">
        <h5 class="card-title">APOD</h5>
        <p class="card-text">Representa la imagen del día</p>
      </div>
      <div class="card-footer">
        <small class="text-muted"></small>
      </div>     
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <a href="/exploracionPlanetaria">
        <img src="https://apod.nasa.gov/apod/image/2109/NGC1499_Hubble_960.jpg" class="card-img-top" alt="...">
      </a>
      <div class="card-body">
        <h5 class="card-title">Exploración planetaria</h5>
        <p class="card-text">NASA Exoplanet Archive API y Mars Rover Photos API.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted"></small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
       <a href="/MarsRover">
        <img src="https://apod.nasa.gov/apod/image/2109/NGC1499_Hubble_960.jpg" class="card-img-top" alt="...">
      </a>
      <div class="card-body">
        <h5 class="card-title">Mars Rover Photos</h5>
        <p class="card-text"> collect image data gathered by NASA's Curiosity, Opportunity, and Spirit rovers on Mars and make it more easily available to other developers, educators, and citizen scientists.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted"></small>
      </div>
    </div>
  </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top:1%">
  <div class="col">
    <div class="card h-100">
      <a href="/galeriaMultimedia">
        <img src="" class="card-img-top" alt="...">
      </a>
      <div class="card-body">
        <h5 class="card-title">Galería multimedia</h5>
        <p class="card-text">Nasa imagen y vídeos</p>
      </div>
      <div class="card-footer">
        <small class="text-muted"></small>
      </div>     
    </div>
  </div>
  <!--div class="col">
    <div class="card h-100">
      <a href="/exploracionPlanetaria">
        <img src="https://apod.nasa.gov/apod/image/2109/NGC1499_Hubble_960.jpg" class="card-img-top" alt="...">
      </a>
      <div class="card-body">
        <h5 class="card-title">Exploración planetaria</h5>
        <p class="card-text">NASA Exoplanet Archive API y Mars Rover Photos API.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted"></small>
      </div>
    </div>
  </div-->
  <!--div class="col">
    <div class="card h-100">
       <a href="/MarsRover">
        <img src="https://apod.nasa.gov/apod/image/2109/NGC1499_Hubble_960.jpg" class="card-img-top" alt="...">
      </a>
      <div class="card-body">
        <h5 class="card-title">Mars Rover Photos</h5>
        <p class="card-text"> collect image data gathered by NASA's Curiosity, Opportunity, and Spirit rovers on Mars and make it more easily available to other developers, educators, and citizen scientists.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted"></small>
      </div>
    </div>
  </div-->

</div>
{% endblock %}