{% extends "layout.html" %}
{% block title %}Mars Rover Photos {% endblock %}
{% block body %}
<style>
    .card-img-top {
        object-fit: cover;
        height: 200px;
    }
</style>


<h2>Filtrar por nombre de camara</h2>
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="valorCamara" name="valorCamara">
            {% for inicial,imagen in diccionarioRoverCamaras.items() %}
                {% set contador = loop.index %}
                <option value="{{ inicial }}" id="{{ contador }}" name="{{ contador }}">{{ inicial }}</option>
            {% endfor %}
        </select>
       <a class="btn btn-primary" role="button" id="btnBuscarResultado" name="btnBuscarResultado" >Filtrar resultado</a>


        <div class="row row-cols-1 row-cols-md-4" id='divFiltrarBusquedaFotosRover' name='divFiltrarBusquedaFotosRover'>
        </div>


       
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{{ url_for('static', filename='js/filtrarImagenes.js') }}"></script>
{% endblock %}